<div class="container-fluid main-nav-bar">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1 class="on-background-color">
                    MedNet
                </h1>
            </div>
            <div class="p-2">
                <span>
                    <button class="onbackground-btn mx-2 my-3 h6 text-white">Register</button>
                </span>

                <span>
                    <button class="onbackground-btn mx-2 my-3 h6 text-white">Login</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-flex home-main-box">
    <div class="container p-2" style="border: 2px solid black;">
        <div class="tag-line-content">
            <p>
                Next Gen Medical
            </p>
            <p>
                Networking Solution
            </p>
            <p class="small-intro-text">
                Mednet 
            </p>
        </div>

    </div>

    <div class="container p-2" style="border: 2px solid black">
        <h1>
            Content
        </h1>
    </div>
</div>